openapi: 3.1.0

info:
  title: Axiom Identity Module API
  version: 1.0.0
  description: |
    Authentication, firm/user/client management, methodology templates, and firm control
    objectives for the Axiom AI-native audit platform.

    This spec covers the Identity module within the Axiom API modular monolith. All endpoints
    are served by a single Go binary alongside other modules (audit core, trial balance,
    workpaper, reporting).

    ## Authentication model
    Public endpoints (auth, invitation acceptance) do not require gateway-injected headers.
    All other endpoints expect `X-User-Id`, `X-Firm-Id`, and `X-User-Role` headers injected
    by the gateway middleware after JWT verification. Handlers trust these context values.

    ## Pagination
    List endpoints use opaque cursor-based pagination. Pass the `next_cursor` value from a
    response as the `cursor` query parameter to retrieve the next page. Omit `cursor` for
    the first page.

servers:
  - url: https://api.axiom.app
    description: Production
  - url: https://api.staging.axiom.app
    description: Staging

tags:
  - name: Auth
    description: Public authentication endpoints — registration, login, token refresh, SSO, and JWKS.
  - name: Firms
    description: Current firm profile management. Accessible by authenticated firm users.
  - name: Users
    description: Firm user management and self-service profile operations.
  - name: Clients
    description: Client entity management within a firm.
  - name: Invitations
    description: Invitation lifecycle — create, resend, cancel, and accept magic-link invitations.
  - name: MethodologyTemplates
    description: Firm methodology templates (audit playbooks). System-provided and custom.
  - name: TemplateControls
    description: Controls nested within methodology templates.
  - name: TemplateTestProcedures
    description: Test procedures nested within template controls.
  - name: TemplateDocumentRequests
    description: Document request templates nested within methodology templates.
  - name: ControlObjectives
    description: Firm control objectives and their framework requirement mappings.

paths:

  # ---------------------------------------------------------------------------
  # Auth
  # ---------------------------------------------------------------------------

  /api/v1/auth/register:
    post:
      tags: [Auth]
      operationId: registerFirm
      summary: Register a new firm
      description: |
        Public endpoint. Creates a new Firm and its first FirmAdmin User in a single
        atomic operation. Returns the created user, firm, and an initial token pair.
        No gateway headers required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterFirmRequest'
      responses:
        '201':
          description: Firm and admin user created successfully.
          headers:
            Location:
              description: URL of the newly created firm resource.
              schema:
                type: string
                format: uri
                example: /api/v1/firms/current
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: './common.yaml#/components/responses/BadRequest'
        '409':
          $ref: './common.yaml#/components/responses/Conflict'
        '422':
          $ref: './common.yaml#/components/responses/UnprocessableEntity'
        '500':
          $ref: './common.yaml#/components/responses/InternalServerError'

  /api/v1/auth/login:
    post:
      tags: [Auth]
      operationId: loginUser
      summary: Authenticate with email and password
      description: |
        Public endpoint. Validates credentials and returns a token pair. No gateway
        headers required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Authentication successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: './common.yaml#/components/responses/BadRequest'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
        '422':
          $ref: './common.yaml#/components/responses/UnprocessableEntity'
        '500':
          $ref: './common.yaml#/components/responses/InternalServerError'

  /api/v1/auth/refresh:
    post:
      tags: [Auth]
      operationId: refreshToken
      summary: Refresh an access token
      description: |
        Public endpoint. Exchanges a valid refresh token for a new access/refresh token
        pair. The old refresh token is rotated (invalidated). No gateway headers required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          description: Token pair refreshed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenPair'
        '400':
          $ref: './common.yaml#/components/responses/BadRequest'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
        '500':
          $ref: './common.yaml#/components/responses/InternalServerError'

  /api/v1/auth/verify-email:
    post:
      tags: [Auth]
      operationId: verifyEmail
      summary: Verify a user's email address
      description: |
        Public endpoint. Consumes a single-use email verification token. No gateway
        headers required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyEmailRequest'
      responses:
        '204':
          description: Email address verified successfully.
        '400':
          $ref: './common.yaml#/components/responses/BadRequest'
        '410':
          description: The verification token has expired or was already used.
          content:
            application/json:
              schema:
                $ref: './common.yaml#/components/schemas/ErrorResponse'
        '500':
          $ref: './common.yaml#/components/responses/InternalServerError'

  /api/v1/auth/sso/callback:
    post:
      tags: [Auth]
      operationId: ssoCallback
      summary: Handle SSO OAuth callback
      description: |
        Public endpoint. Processes the authorization code from Google or Microsoft OAuth
        flows. Creates the user account on first sign-in (within an existing firm matched
        by email domain). No gateway headers required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SsoCallbackRequest'
      responses:
        '200':
          description: SSO authentication successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: './common.yaml#/components/responses/BadRequest'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
        '422':
          $ref: './common.yaml#/components/responses/UnprocessableEntity'
        '500':
          $ref: './common.yaml#/components/responses/InternalServerError'

  /api/v1/auth/jwks:
    get:
      tags: [Auth]
      operationId: getJwks
      summary: Retrieve the public JWKS
      description: |
        Public endpoint. Returns the JSON Web Key Set used by the API Gateway to verify
        JWTs issued by this service. No gateway headers required.
      responses:
        '200':
          description: JWKS document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JwksResponse'
        '500':
          $ref: './common.yaml#/components/responses/InternalServerError'

  # ---------------------------------------------------------------------------
  # Invitation acceptance (public, token-auth)
  # ---------------------------------------------------------------------------

  /api/v1/invitations/validate/{token}:
    get:
      tags: [Invitations]
      operationId: validateInvitationToken
      summary: Validate a magic-link invitation token
      description: |
        Public endpoint. Validates the token embedded in an invitation magic link. Returns
        basic invitation info (email, role) so the client can pre-populate the acceptance
        form. Returns 410 Gone if the invitation is expired or already accepted. No gateway
        headers required.
      parameters:
        - name: token
          in: path
          required: true
          description: The raw invitation token from the magic-link URL.
          schema:
            type: string
            example: abc123xyz
      responses:
        '200':
          description: Token is valid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationValidation'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
        '410':
          description: The invitation token has expired or was already accepted.
          content:
            application/json:
              schema:
                $ref: './common.yaml#/components/schemas/ErrorResponse'
        '500':
          $ref: './common.yaml#/components/responses/InternalServerError'

  /api/v1/invitations/accept:
    post:
      tags: [Invitations]
      operationId: acceptInvitation
      summary: Accept an invitation and create a user account
      description: |
        Public endpoint. Consumes the invitation token and creates the invited user
        account. Supports password-based signup or SSO-based acceptance. Returns the
        newly created user and an initial token pair. No gateway headers required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcceptInvitationRequest'
      responses:
        '201':
          description: Invitation accepted and user account created.
          headers:
            Location:
              description: URL of the newly created user resource.
              schema:
                type: string
                format: uri
                example: /api/v1/users/me
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: './common.yaml#/components/responses/BadRequest'
        '409':
          $ref: './common.yaml#/components/responses/Conflict'
        '410':
          description: The invitation token has expired or was already accepted.
          content:
            application/json:
              schema:
                $ref: './common.yaml#/components/schemas/ErrorResponse'
        '422':
          $ref: './common.yaml#/components/responses/UnprocessableEntity'
        '500':
          $ref: './common.yaml#/components/responses/InternalServerError'

  # ---------------------------------------------------------------------------
  # Firms
  # ---------------------------------------------------------------------------

  /api/v1/firms/current:
    get:
      tags: [Firms]
      operationId: getCurrentFirm
      summary: Get the current firm's profile
      description: |
        Returns the full profile for the authenticated user's firm. Accessible by all
        authenticated firm roles.
      parameters:
        - $ref: './common.yaml#/components/parameters/X-User-Id'
        - $ref: './common.yaml#/components/parameters/X-Firm-Id'
        - $ref: './common.yaml#/components/parameters/X-User-Role'
      responses:
        '200':
          description: Firm profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Firm'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: './common.yaml#/components/responses/Forbidden'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
        '500':
          $ref: './common.yaml#/components/responses/InternalServerError'

    patch:
      tags: [Firms]
      operationId: updateFirmProfile
      summary: Update the current firm's profile
      description: |
        Partially updates the authenticated user's firm profile. Only FirmAdmin may call
        this endpoint. Omitted fields are left unchanged.
      parameters:
        - $ref: './common.yaml#/components/parameters/X-User-Id'
        - $ref: './common.yaml#/components/parameters/X-Firm-Id'
        - $ref: './common.yaml#/components/parameters/X-User-Role'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFirmRequest'
      responses:
        '200':
          description: Updated firm profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Firm'
        '400':
          $ref: './common.yaml#/components/responses/BadRequest'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: './common.yaml#/components/responses/Forbidden'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
        '422':
          $ref: './common.yaml#/components/responses/UnprocessableEntity'
        '500':
          $ref: './common.yaml#/components/responses/InternalServerError'

  # ---------------------------------------------------------------------------
  # Users
  # ---------------------------------------------------------------------------

  /api/v1/users:
    get:
      tags: [Users]
      operationId: listUsers
      summary: List users in the current firm
      description: |
        Returns a paginated list of users belonging to the authenticated user's firm.
        Supports filtering by role, active status, and free-text search. Accessible by
        all authenticated firm roles.
      parameters:
        - $ref: './common.yaml#/components/parameters/X-User-Id'
        - $ref: './common.yaml#/components/parameters/X-Firm-Id'
        - $ref: './common.yaml#/components/parameters/X-User-Role'
        - $ref: './common.yaml#/components/parameters/CursorParam'
        - $ref: './common.yaml#/components/parameters/LimitParam'
        - name: role
          in: query
          required: false
          description: Filter by user role.
          schema:
            $ref: '#/components/schemas/UserRole'
        - name: is_active
          in: query
          required: false
          description: Filter by active status.
          schema:
            type: boolean
        - name: search
          in: query
          required: false
          description: Free-text search against display_name and email.
          schema:
            type: string
            example: alice
      responses:
        '200':
          description: Paginated list of users.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserListResponse'
        '400':
          $ref: './common.yaml#/components/responses/BadRequest'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: './common.yaml#/components/responses/Forbidden'
        '500':
          $ref: './common.yaml#/components/responses/InternalServerError'

  /api/v1/users/me:
    get:
      tags: [Users]
      operationId: getMyProfile
      summary: Get the authenticated user's own profile
      description: |
        Returns the full profile for the currently authenticated user. Accessible by all
        authenticated roles.
      parameters:
        - $ref: './common.yaml#/components/parameters/X-User-Id'
        - $ref: './common.yaml#/components/parameters/X-Firm-Id'
        - $ref: './common.yaml#/components/parameters/X-User-Role'
      responses:
        '200':
          description: Own user profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
        '500':
          $ref: './common.yaml#/components/responses/InternalServerError'

    patch:
      tags: [Users]
      operationId: updateMyProfile
      summary: Update the authenticated user's own profile
      description: |
        Allows users to update their own display name and notification preferences.
        Accessible by all authenticated roles. Users may not change their own role
        via this endpoint.
      parameters:
        - $ref: './common.yaml#/components/parameters/X-User-Id'
        - $ref: './common.yaml#/components/parameters/X-Firm-Id'
        - $ref: './common.yaml#/components/parameters/X-User-Role'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMyProfileRequest'
      responses:
        '200':
          description: Updated user profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: './common.yaml#/components/responses/BadRequest'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
        '422':
          $ref: './common.yaml#/components/responses/UnprocessableEntity'
        '500':
          $ref: './common.yaml#/components/responses/InternalServerError'

  /api/v1/users/me/tour-complete:
    post:
      tags: [Users]
      operationId: markTourComplete
      summary: Mark the onboarding tour as completed
      description: |
        Sets `tour_completed = true` on the authenticated user's record. Idempotent —
        calling this when already completed returns 204 without error. Accessible by all
        authenticated roles.
      parameters:
        - $ref: './common.yaml#/components/parameters/X-User-Id'
        - $ref: './common.yaml#/components/parameters/X-Firm-Id'
        - $ref: './common.yaml#/components/parameters/X-User-Role'
      responses:
        '204':
          description: Tour marked as completed.
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
        '500':
          $ref: './common.yaml#/components/responses/InternalServerError'

  /api/v1/users/{userId}:
    get:
      tags: [Users]
      operationId: getUser
      summary: Get a specific user by ID
      description: |
        Returns the profile for a specific user within the same firm. Accessible by all
        authenticated firm roles.
      parameters:
        - $ref: './common.yaml#/components/parameters/X-User-Id'
        - $ref: './common.yaml#/components/parameters/X-Firm-Id'
        - $ref: './common.yaml#/components/parameters/X-User-Role'
        - name: userId
          in: path
          required: true
          description: UUID of the user to retrieve.
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '200':
          description: User profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: './common.yaml#/components/responses/Forbidden'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
        '500':
          $ref: './common.yaml#/components/responses/InternalServerError'

    patch:
      tags: [Users]
      operationId: updateUser
      summary: Update a user's role or active status
      description: |
        Allows a FirmAdmin to update another user's role or active status. FirmAdmin only.
        A FirmAdmin cannot demote themselves via this endpoint.
      parameters:
        - $ref: './common.yaml#/components/parameters/X-User-Id'
        - $ref: './common.yaml#/components/parameters/X-Firm-Id'
        - $ref: './common.yaml#/components/parameters/X-User-Role'
        - name: userId
          in: path
          required: true
          description: UUID of the user to update.
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
      responses:
        '200':
          description: Updated user profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: './common.yaml#/components/responses/BadRequest'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: './common.yaml#/components/responses/Forbidden'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
        '422':
          $ref: './common.yaml#/components/responses/UnprocessableEntity'
        '500':
          $ref: './common.yaml#/components/responses/InternalServerError'

  /api/v1/users/{userId}/deactivate:
    post:
      tags: [Users]
      operationId: deactivateUser
      summary: Deactivate a user (soft-delete)
      description: |
        Sets `is_active = false` on the target user, preventing login. FirmAdmin only.
        A FirmAdmin cannot deactivate themselves. Emits a `user.deactivated` SQS event
        so downstream services can revoke in-flight tokens and remove engagement access.
      parameters:
        - $ref: './common.yaml#/components/parameters/X-User-Id'
        - $ref: './common.yaml#/components/parameters/X-Firm-Id'
        - $ref: './common.yaml#/components/parameters/X-User-Role'
        - name: userId
          in: path
          required: true
          description: UUID of the user to deactivate.
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '204':
          description: User deactivated successfully.
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: './common.yaml#/components/responses/Forbidden'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
        '422':
          $ref: './common.yaml#/components/responses/UnprocessableEntity'
        '500':
          $ref: './common.yaml#/components/responses/InternalServerError'

  # ---------------------------------------------------------------------------
  # Clients
  # ---------------------------------------------------------------------------

  /api/v1/clients:
    get:
      tags: [Clients]
      operationId: listClients
      summary: List clients for the current firm
      description: |
        Returns a paginated list of clients belonging to the authenticated user's firm.
        Accessible by all authenticated firm roles.
      parameters:
        - $ref: './common.yaml#/components/parameters/X-User-Id'
        - $ref: './common.yaml#/components/parameters/X-Firm-Id'
        - $ref: './common.yaml#/components/parameters/X-User-Role'
        - $ref: './common.yaml#/components/parameters/CursorParam'
        - $ref: './common.yaml#/components/parameters/LimitParam'
        - name: search
          in: query
          required: false
          description: Free-text search against client name.
          schema:
            type: string
            example: Acme
      responses:
        '200':
          description: Paginated list of clients.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientListResponse'
        '400':
          $ref: './common.yaml#/components/responses/BadRequest'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: './common.yaml#/components/responses/Forbidden'
        '500':
          $ref: './common.yaml#/components/responses/InternalServerError'

    post:
      tags: [Clients]
      operationId: createClient
      summary: Create a new client
      description: |
        Creates a new client entity within the authenticated user's firm. FirmAdmin,
        Partner, and Manager roles may create clients.
      parameters:
        - $ref: './common.yaml#/components/parameters/X-User-Id'
        - $ref: './common.yaml#/components/parameters/X-Firm-Id'
        - $ref: './common.yaml#/components/parameters/X-User-Role'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateClientRequest'
      responses:
        '201':
          description: Client created successfully.
          headers:
            Location:
              description: URL of the newly created client.
              schema:
                type: string
                format: uri
                example: /api/v1/clients/550e8400-e29b-41d4-a716-446655440000
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
        '400':
          $ref: './common.yaml#/components/responses/BadRequest'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: './common.yaml#/components/responses/Forbidden'
        '409':
          $ref: './common.yaml#/components/responses/Conflict'
        '422':
          $ref: './common.yaml#/components/responses/UnprocessableEntity'
        '500':
          $ref: './common.yaml#/components/responses/InternalServerError'

  /api/v1/clients/{clientId}:
    get:
      tags: [Clients]
      operationId: getClient
      summary: Get a client by ID
      description: |
        Returns a single client. Accessible by all authenticated firm roles.
      parameters:
        - $ref: './common.yaml#/components/parameters/X-User-Id'
        - $ref: './common.yaml#/components/parameters/X-Firm-Id'
        - $ref: './common.yaml#/components/parameters/X-User-Role'
        - name: clientId
          in: path
          required: true
          description: UUID of the client to retrieve.
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '200':
          description: Client record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: './common.yaml#/components/responses/Forbidden'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
        '500':
          $ref: './common.yaml#/components/responses/InternalServerError'

    patch:
      tags: [Clients]
      operationId: updateClient
      summary: Update a client
      description: |
        Partially updates a client record. FirmAdmin, Partner, and Manager roles may
        update clients. Omitted fields are left unchanged.
      parameters:
        - $ref: './common.yaml#/components/parameters/X-User-Id'
        - $ref: './common.yaml#/components/parameters/X-Firm-Id'
        - $ref: './common.yaml#/components/parameters/X-User-Role'
        - name: clientId
          in: path
          required: true
          description: UUID of the client to update.
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateClientRequest'
      responses:
        '200':
          description: Updated client record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
        '400':
          $ref: './common.yaml#/components/responses/BadRequest'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: './common.yaml#/components/responses/Forbidden'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
        '422':
          $ref: './common.yaml#/components/responses/UnprocessableEntity'
        '500':
          $ref: './common.yaml#/components/responses/InternalServerError'

  # ---------------------------------------------------------------------------
  # Invitations (authenticated)
  # ---------------------------------------------------------------------------

  /api/v1/invitations:
    get:
      tags: [Invitations]
      operationId: listInvitations
      summary: List invitations for the current firm
      description: |
        Returns a paginated list of invitations. FirmAdmin only.
      parameters:
        - $ref: './common.yaml#/components/parameters/X-User-Id'
        - $ref: './common.yaml#/components/parameters/X-Firm-Id'
        - $ref: './common.yaml#/components/parameters/X-User-Role'
        - $ref: './common.yaml#/components/parameters/CursorParam'
        - $ref: './common.yaml#/components/parameters/LimitParam'
        - name: status
          in: query
          required: false
          description: Filter by invitation status.
          schema:
            $ref: '#/components/schemas/InvitationStatus'
      responses:
        '200':
          description: Paginated list of invitations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationListResponse'
        '400':
          $ref: './common.yaml#/components/responses/BadRequest'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: './common.yaml#/components/responses/Forbidden'
        '500':
          $ref: './common.yaml#/components/responses/InternalServerError'

    post:
      tags: [Invitations]
      operationId: createInvitations
      summary: Bulk-create invitations
      description: |
        Creates one or more invitations in a single request. Each invitation generates
        a magic-link email. FirmAdmin only. Duplicate emails that already have a pending
        invitation result in a 409 per-item conflict, but the rest of the batch succeeds
        (partial success is not supported — the entire batch fails on any conflict).
      parameters:
        - $ref: './common.yaml#/components/parameters/X-User-Id'
        - $ref: './common.yaml#/components/parameters/X-Firm-Id'
        - $ref: './common.yaml#/components/parameters/X-User-Role'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInvitationsRequest'
      responses:
        '201':
          description: Invitations created and emails dispatched.
          content:
            application/json:
              schema:
                type: object
                required: [invitations]
                properties:
                  invitations:
                    type: array
                    items:
                      $ref: '#/components/schemas/Invitation'
        '400':
          $ref: './common.yaml#/components/responses/BadRequest'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: './common.yaml#/components/responses/Forbidden'
        '409':
          $ref: './common.yaml#/components/responses/Conflict'
        '422':
          $ref: './common.yaml#/components/responses/UnprocessableEntity'
        '500':
          $ref: './common.yaml#/components/responses/InternalServerError'

  /api/v1/invitations/{invitationId}:
    delete:
      tags: [Invitations]
      operationId: cancelInvitation
      summary: Cancel a pending invitation
      description: |
        Cancels an invitation that is in the `Sent` status, preventing the magic link
        from being accepted. FirmAdmin only. Returns 422 if the invitation is not in
        `Sent` status.
      parameters:
        - $ref: './common.yaml#/components/parameters/X-User-Id'
        - $ref: './common.yaml#/components/parameters/X-Firm-Id'
        - $ref: './common.yaml#/components/parameters/X-User-Role'
        - name: invitationId
          in: path
          required: true
          description: UUID of the invitation to cancel.
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '204':
          description: Invitation cancelled successfully.
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: './common.yaml#/components/responses/Forbidden'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
        '422':
          $ref: './common.yaml#/components/responses/UnprocessableEntity'
        '500':
          $ref: './common.yaml#/components/responses/InternalServerError'

  /api/v1/invitations/{invitationId}/resend:
    post:
      tags: [Invitations]
      operationId: resendInvitation
      summary: Resend an invitation email
      description: |
        Resends the magic-link email for a `Sent` invitation and updates
        `reminder_sent_at`. FirmAdmin only. Returns 422 if the invitation is not in
        `Sent` status.
      parameters:
        - $ref: './common.yaml#/components/parameters/X-User-Id'
        - $ref: './common.yaml#/components/parameters/X-Firm-Id'
        - $ref: './common.yaml#/components/parameters/X-User-Role'
        - name: invitationId
          in: path
          required: true
          description: UUID of the invitation to resend.
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '204':
          description: Invitation email resent successfully.
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: './common.yaml#/components/responses/Forbidden'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
        '422':
          $ref: './common.yaml#/components/responses/UnprocessableEntity'
        '500':
          $ref: './common.yaml#/components/responses/InternalServerError'

  # ---------------------------------------------------------------------------
  # Methodology Templates
  # ---------------------------------------------------------------------------

  /api/v1/methodology-templates:
    get:
      tags: [MethodologyTemplates]
      operationId: listMethodologyTemplates
      summary: List methodology templates for the current firm
      description: |
        Returns a paginated list of methodology templates, including system-provided
        templates visible to all firms and custom templates belonging to this firm.
        Each item includes summary counts for controls, procedures, and document requests.
        Accessible by all authenticated firm roles.
      parameters:
        - $ref: './common.yaml#/components/parameters/X-User-Id'
        - $ref: './common.yaml#/components/parameters/X-Firm-Id'
        - $ref: './common.yaml#/components/parameters/X-User-Role'
        - $ref: './common.yaml#/components/parameters/CursorParam'
        - $ref: './common.yaml#/components/parameters/LimitParam'
        - name: applicable_engagement_type
          in: query
          required: false
          description: Filter by engagement type the template applies to.
          schema:
            type: string
            example: SOC2
        - name: is_active
          in: query
          required: false
          description: Filter by active status.
          schema:
            type: boolean
      responses:
        '200':
          description: Paginated list of methodology template summaries.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodologyTemplateListResponse'
        '400':
          $ref: './common.yaml#/components/responses/BadRequest'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: './common.yaml#/components/responses/Forbidden'
        '500':
          $ref: './common.yaml#/components/responses/InternalServerError'

    post:
      tags: [MethodologyTemplates]
      operationId: createMethodologyTemplate
      summary: Create a custom methodology template
      description: |
        Creates a new custom methodology template for the firm. Available to firms on
        the Scale or Enterprise subscription tier. FirmAdmin only.
      parameters:
        - $ref: './common.yaml#/components/parameters/X-User-Id'
        - $ref: './common.yaml#/components/parameters/X-Firm-Id'
        - $ref: './common.yaml#/components/parameters/X-User-Role'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMethodologyTemplateRequest'
      responses:
        '201':
          description: Methodology template created.
          headers:
            Location:
              description: URL of the newly created template.
              schema:
                type: string
                format: uri
                example: /api/v1/methodology-templates/550e8400-e29b-41d4-a716-446655440000
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodologyTemplate'
        '400':
          $ref: './common.yaml#/components/responses/BadRequest'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: './common.yaml#/components/responses/Forbidden'
        '422':
          $ref: './common.yaml#/components/responses/UnprocessableEntity'
        '500':
          $ref: './common.yaml#/components/responses/InternalServerError'

  /api/v1/methodology-templates/{templateId}:
    get:
      tags: [MethodologyTemplates]
      operationId: getMethodologyTemplate
      summary: Get a methodology template with full nested detail
      description: |
        Returns a methodology template with its nested controls, test procedures, and
        document requests fully expanded. Accessible by all authenticated firm roles.
      parameters:
        - $ref: './common.yaml#/components/parameters/X-User-Id'
        - $ref: './common.yaml#/components/parameters/X-Firm-Id'
        - $ref: './common.yaml#/components/parameters/X-User-Role'
        - name: templateId
          in: path
          required: true
          description: UUID of the methodology template.
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '200':
          description: Methodology template with nested controls and procedures.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodologyTemplateDetail'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: './common.yaml#/components/responses/Forbidden'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
        '500':
          $ref: './common.yaml#/components/responses/InternalServerError'

    patch:
      tags: [MethodologyTemplates]
      operationId: updateMethodologyTemplate
      summary: Update a methodology template's metadata
      description: |
        Updates the name, engagement type, framework, or active status of a custom
        methodology template. System-provided templates cannot be modified. FirmAdmin
        only.
      parameters:
        - $ref: './common.yaml#/components/parameters/X-User-Id'
        - $ref: './common.yaml#/components/parameters/X-Firm-Id'
        - $ref: './common.yaml#/components/parameters/X-User-Role'
        - name: templateId
          in: path
          required: true
          description: UUID of the methodology template to update.
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMethodologyTemplateRequest'
      responses:
        '200':
          description: Updated methodology template.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodologyTemplate'
        '400':
          $ref: './common.yaml#/components/responses/BadRequest'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: './common.yaml#/components/responses/Forbidden'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
        '422':
          $ref: './common.yaml#/components/responses/UnprocessableEntity'
        '500':
          $ref: './common.yaml#/components/responses/InternalServerError'

  /api/v1/methodology-templates/{templateId}/activate:
    post:
      tags: [MethodologyTemplates]
      operationId: activateMethodologyTemplate
      summary: Activate a methodology template
      description: |
        Sets `is_active = true` on a methodology template, making it available for
        use in new engagements. Idempotent. FirmAdmin only.
      parameters:
        - $ref: './common.yaml#/components/parameters/X-User-Id'
        - $ref: './common.yaml#/components/parameters/X-Firm-Id'
        - $ref: './common.yaml#/components/parameters/X-User-Role'
        - name: templateId
          in: path
          required: true
          description: UUID of the methodology template to activate.
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '204':
          description: Template activated successfully.
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: './common.yaml#/components/responses/Forbidden'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
        '500':
          $ref: './common.yaml#/components/responses/InternalServerError'

  /api/v1/methodology-templates/{templateId}/deactivate:
    post:
      tags: [MethodologyTemplates]
      operationId: deactivateMethodologyTemplate
      summary: Deactivate a methodology template
      description: |
        Sets `is_active = false` on a methodology template, preventing it from being
        selected for new engagements. Existing engagements using the template are
        unaffected. Idempotent. FirmAdmin only.
      parameters:
        - $ref: './common.yaml#/components/parameters/X-User-Id'
        - $ref: './common.yaml#/components/parameters/X-Firm-Id'
        - $ref: './common.yaml#/components/parameters/X-User-Role'
        - name: templateId
          in: path
          required: true
          description: UUID of the methodology template to deactivate.
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '204':
          description: Template deactivated successfully.
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: './common.yaml#/components/responses/Forbidden'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
        '500':
          $ref: './common.yaml#/components/responses/InternalServerError'

  # ---------------------------------------------------------------------------
  # Template Controls
  # ---------------------------------------------------------------------------

  /api/v1/methodology-templates/{templateId}/controls:
    get:
      tags: [TemplateControls]
      operationId: listTemplateControls
      summary: List controls for a methodology template
      description: |
        Returns all controls for a given template, each with their nested test
        procedures. Ordered by `sort_order`. Accessible by all authenticated firm roles.
      parameters:
        - $ref: './common.yaml#/components/parameters/X-User-Id'
        - $ref: './common.yaml#/components/parameters/X-Firm-Id'
        - $ref: './common.yaml#/components/parameters/X-User-Role'
        - name: templateId
          in: path
          required: true
          description: UUID of the parent methodology template.
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '200':
          description: List of template controls with nested procedures.
          content:
            application/json:
              schema:
                type: object
                required: [controls]
                properties:
                  controls:
                    type: array
                    items:
                      $ref: '#/components/schemas/TemplateControlDetail'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: './common.yaml#/components/responses/Forbidden'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
        '500':
          $ref: './common.yaml#/components/responses/InternalServerError'

    post:
      tags: [TemplateControls]
      operationId: createTemplateControl
      summary: Add a control to a methodology template
      description: |
        Creates a new template control. System-provided templates cannot be modified.
        FirmAdmin only.
      parameters:
        - $ref: './common.yaml#/components/parameters/X-User-Id'
        - $ref: './common.yaml#/components/parameters/X-Firm-Id'
        - $ref: './common.yaml#/components/parameters/X-User-Role'
        - name: templateId
          in: path
          required: true
          description: UUID of the parent methodology template.
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTemplateControlRequest'
      responses:
        '201':
          description: Template control created.
          headers:
            Location:
              description: URL of the newly created control.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateControl'
        '400':
          $ref: './common.yaml#/components/responses/BadRequest'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: './common.yaml#/components/responses/Forbidden'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
        '422':
          $ref: './common.yaml#/components/responses/UnprocessableEntity'
        '500':
          $ref: './common.yaml#/components/responses/InternalServerError'

  /api/v1/methodology-templates/{templateId}/controls/{controlId}:
    patch:
      tags: [TemplateControls]
      operationId: updateTemplateControl
      summary: Update a template control
      description: |
        Partially updates a template control. System-provided templates cannot be
        modified. FirmAdmin only.
      parameters:
        - $ref: './common.yaml#/components/parameters/X-User-Id'
        - $ref: './common.yaml#/components/parameters/X-Firm-Id'
        - $ref: './common.yaml#/components/parameters/X-User-Role'
        - name: templateId
          in: path
          required: true
          description: UUID of the parent methodology template.
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
        - name: controlId
          in: path
          required: true
          description: UUID of the template control to update.
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTemplateControlRequest'
      responses:
        '200':
          description: Updated template control.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateControl'
        '400':
          $ref: './common.yaml#/components/responses/BadRequest'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: './common.yaml#/components/responses/Forbidden'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
        '422':
          $ref: './common.yaml#/components/responses/UnprocessableEntity'
        '500':
          $ref: './common.yaml#/components/responses/InternalServerError'

    delete:
      tags: [TemplateControls]
      operationId: deleteTemplateControl
      summary: Delete a template control
      description: |
        Deletes a template control and all of its nested test procedures. System-provided
        templates cannot be modified. FirmAdmin only.
      parameters:
        - $ref: './common.yaml#/components/parameters/X-User-Id'
        - $ref: './common.yaml#/components/parameters/X-Firm-Id'
        - $ref: './common.yaml#/components/parameters/X-User-Role'
        - name: templateId
          in: path
          required: true
          description: UUID of the parent methodology template.
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
        - name: controlId
          in: path
          required: true
          description: UUID of the template control to delete.
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440001
      responses:
        '204':
          description: Template control deleted.
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: './common.yaml#/components/responses/Forbidden'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
        '422':
          $ref: './common.yaml#/components/responses/UnprocessableEntity'
        '500':
          $ref: './common.yaml#/components/responses/InternalServerError'

  # ---------------------------------------------------------------------------
  # Template Test Procedures
  # ---------------------------------------------------------------------------

  /api/v1/methodology-templates/{templateId}/controls/{controlId}/test-procedures:
    post:
      tags: [TemplateTestProcedures]
      operationId: createTemplateTestProcedure
      summary: Add a test procedure to a template control
      description: |
        Creates a new test procedure under the specified template control. System-provided
        templates cannot be modified. FirmAdmin only.
      parameters:
        - $ref: './common.yaml#/components/parameters/X-User-Id'
        - $ref: './common.yaml#/components/parameters/X-Firm-Id'
        - $ref: './common.yaml#/components/parameters/X-User-Role'
        - name: templateId
          in: path
          required: true
          description: UUID of the parent methodology template.
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
        - name: controlId
          in: path
          required: true
          description: UUID of the parent template control.
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTemplateTestProcedureRequest'
      responses:
        '201':
          description: Test procedure created.
          headers:
            Location:
              description: URL of the newly created test procedure.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateTestProcedure'
        '400':
          $ref: './common.yaml#/components/responses/BadRequest'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: './common.yaml#/components/responses/Forbidden'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
        '422':
          $ref: './common.yaml#/components/responses/UnprocessableEntity'
        '500':
          $ref: './common.yaml#/components/responses/InternalServerError'

  /api/v1/methodology-templates/{templateId}/controls/{controlId}/test-procedures/{procedureId}:
    patch:
      tags: [TemplateTestProcedures]
      operationId: updateTemplateTestProcedure
      summary: Update a template test procedure
      description: |
        Partially updates a test procedure. System-provided templates cannot be modified.
        FirmAdmin only.
      parameters:
        - $ref: './common.yaml#/components/parameters/X-User-Id'
        - $ref: './common.yaml#/components/parameters/X-Firm-Id'
        - $ref: './common.yaml#/components/parameters/X-User-Role'
        - name: templateId
          in: path
          required: true
          description: UUID of the parent methodology template.
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
        - name: controlId
          in: path
          required: true
          description: UUID of the parent template control.
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440001
        - name: procedureId
          in: path
          required: true
          description: UUID of the test procedure to update.
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440002
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTemplateTestProcedureRequest'
      responses:
        '200':
          description: Updated test procedure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateTestProcedure'
        '400':
          $ref: './common.yaml#/components/responses/BadRequest'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: './common.yaml#/components/responses/Forbidden'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
        '422':
          $ref: './common.yaml#/components/responses/UnprocessableEntity'
        '500':
          $ref: './common.yaml#/components/responses/InternalServerError'

    delete:
      tags: [TemplateTestProcedures]
      operationId: deleteTemplateTestProcedure
      summary: Delete a template test procedure
      description: |
        Permanently removes a test procedure from a template control. System-provided
        templates cannot be modified. FirmAdmin only.
      parameters:
        - $ref: './common.yaml#/components/parameters/X-User-Id'
        - $ref: './common.yaml#/components/parameters/X-Firm-Id'
        - $ref: './common.yaml#/components/parameters/X-User-Role'
        - name: templateId
          in: path
          required: true
          description: UUID of the parent methodology template.
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
        - name: controlId
          in: path
          required: true
          description: UUID of the parent template control.
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440001
        - name: procedureId
          in: path
          required: true
          description: UUID of the test procedure to delete.
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440002
      responses:
        '204':
          description: Test procedure deleted.
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: './common.yaml#/components/responses/Forbidden'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
        '422':
          $ref: './common.yaml#/components/responses/UnprocessableEntity'
        '500':
          $ref: './common.yaml#/components/responses/InternalServerError'

  # ---------------------------------------------------------------------------
  # Template Document Requests
  # ---------------------------------------------------------------------------

  /api/v1/methodology-templates/{templateId}/document-requests:
    get:
      tags: [TemplateDocumentRequests]
      operationId: listTemplateDocumentRequests
      summary: List document request templates for a methodology template
      description: |
        Returns all document request templates for a given methodology template, ordered
        by `sort_order`. Accessible by all authenticated firm roles.
      parameters:
        - $ref: './common.yaml#/components/parameters/X-User-Id'
        - $ref: './common.yaml#/components/parameters/X-Firm-Id'
        - $ref: './common.yaml#/components/parameters/X-User-Role'
        - name: templateId
          in: path
          required: true
          description: UUID of the parent methodology template.
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '200':
          description: List of template document requests.
          content:
            application/json:
              schema:
                type: object
                required: [document_requests]
                properties:
                  document_requests:
                    type: array
                    items:
                      $ref: '#/components/schemas/TemplateDocumentRequest'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: './common.yaml#/components/responses/Forbidden'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
        '500':
          $ref: './common.yaml#/components/responses/InternalServerError'

    post:
      tags: [TemplateDocumentRequests]
      operationId: createTemplateDocumentRequest
      summary: Add a document request template
      description: |
        Creates a new document request template under a methodology template. System-
        provided templates cannot be modified. FirmAdmin only.
      parameters:
        - $ref: './common.yaml#/components/parameters/X-User-Id'
        - $ref: './common.yaml#/components/parameters/X-Firm-Id'
        - $ref: './common.yaml#/components/parameters/X-User-Role'
        - name: templateId
          in: path
          required: true
          description: UUID of the parent methodology template.
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTemplateDocumentRequestBody'
      responses:
        '201':
          description: Template document request created.
          headers:
            Location:
              description: URL of the newly created document request template.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateDocumentRequest'
        '400':
          $ref: './common.yaml#/components/responses/BadRequest'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: './common.yaml#/components/responses/Forbidden'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
        '422':
          $ref: './common.yaml#/components/responses/UnprocessableEntity'
        '500':
          $ref: './common.yaml#/components/responses/InternalServerError'

  /api/v1/methodology-templates/{templateId}/document-requests/{requestId}:
    patch:
      tags: [TemplateDocumentRequests]
      operationId: updateTemplateDocumentRequest
      summary: Update a template document request
      description: |
        Partially updates a document request template. System-provided templates cannot
        be modified. FirmAdmin only.
      parameters:
        - $ref: './common.yaml#/components/parameters/X-User-Id'
        - $ref: './common.yaml#/components/parameters/X-Firm-Id'
        - $ref: './common.yaml#/components/parameters/X-User-Role'
        - name: templateId
          in: path
          required: true
          description: UUID of the parent methodology template.
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
        - name: requestId
          in: path
          required: true
          description: UUID of the template document request to update.
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440003
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTemplateDocumentRequestBody'
      responses:
        '200':
          description: Updated template document request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateDocumentRequest'
        '400':
          $ref: './common.yaml#/components/responses/BadRequest'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: './common.yaml#/components/responses/Forbidden'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
        '422':
          $ref: './common.yaml#/components/responses/UnprocessableEntity'
        '500':
          $ref: './common.yaml#/components/responses/InternalServerError'

    delete:
      tags: [TemplateDocumentRequests]
      operationId: deleteTemplateDocumentRequest
      summary: Delete a template document request
      description: |
        Permanently removes a document request template. System-provided templates cannot
        be modified. FirmAdmin only.
      parameters:
        - $ref: './common.yaml#/components/parameters/X-User-Id'
        - $ref: './common.yaml#/components/parameters/X-Firm-Id'
        - $ref: './common.yaml#/components/parameters/X-User-Role'
        - name: templateId
          in: path
          required: true
          description: UUID of the parent methodology template.
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
        - name: requestId
          in: path
          required: true
          description: UUID of the template document request to delete.
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440003
      responses:
        '204':
          description: Template document request deleted.
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: './common.yaml#/components/responses/Forbidden'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
        '422':
          $ref: './common.yaml#/components/responses/UnprocessableEntity'
        '500':
          $ref: './common.yaml#/components/responses/InternalServerError'

  # ---------------------------------------------------------------------------
  # Firm Control Objectives
  # ---------------------------------------------------------------------------

  /api/v1/control-objectives:
    get:
      tags: [ControlObjectives]
      operationId: listControlObjectives
      summary: List firm control objectives
      description: |
        Returns a paginated list of firm control objectives. Each item includes
        a `mapping_count` indicating how many framework requirements it is mapped to.
        Accessible by all authenticated firm roles.
      parameters:
        - $ref: './common.yaml#/components/parameters/X-User-Id'
        - $ref: './common.yaml#/components/parameters/X-Firm-Id'
        - $ref: './common.yaml#/components/parameters/X-User-Role'
        - $ref: './common.yaml#/components/parameters/CursorParam'
        - $ref: './common.yaml#/components/parameters/LimitParam'
        - name: search
          in: query
          required: false
          description: Free-text search against objective name and description.
          schema:
            type: string
            example: access control
      responses:
        '200':
          description: Paginated list of control objectives.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ControlObjectiveListResponse'
        '400':
          $ref: './common.yaml#/components/responses/BadRequest'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: './common.yaml#/components/responses/Forbidden'
        '500':
          $ref: './common.yaml#/components/responses/InternalServerError'

    post:
      tags: [ControlObjectives]
      operationId: createControlObjective
      summary: Create a firm control objective
      description: |
        Creates a new firm control objective. FirmAdmin and Partner roles may create
        objectives.
      parameters:
        - $ref: './common.yaml#/components/parameters/X-User-Id'
        - $ref: './common.yaml#/components/parameters/X-Firm-Id'
        - $ref: './common.yaml#/components/parameters/X-User-Role'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateControlObjectiveRequest'
      responses:
        '201':
          description: Control objective created.
          headers:
            Location:
              description: URL of the newly created control objective.
              schema:
                type: string
                format: uri
                example: /api/v1/control-objectives/550e8400-e29b-41d4-a716-446655440000
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ControlObjective'
        '400':
          $ref: './common.yaml#/components/responses/BadRequest'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: './common.yaml#/components/responses/Forbidden'
        '422':
          $ref: './common.yaml#/components/responses/UnprocessableEntity'
        '500':
          $ref: './common.yaml#/components/responses/InternalServerError'

  /api/v1/control-objectives/{objectiveId}:
    get:
      tags: [ControlObjectives]
      operationId: getControlObjective
      summary: Get a control objective with its mappings
      description: |
        Returns a single control objective including its full list of framework
        requirement mappings. Accessible by all authenticated firm roles.
      parameters:
        - $ref: './common.yaml#/components/parameters/X-User-Id'
        - $ref: './common.yaml#/components/parameters/X-Firm-Id'
        - $ref: './common.yaml#/components/parameters/X-User-Role'
        - name: objectiveId
          in: path
          required: true
          description: UUID of the control objective.
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '200':
          description: Control objective with mappings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ControlObjectiveDetail'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: './common.yaml#/components/responses/Forbidden'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
        '500':
          $ref: './common.yaml#/components/responses/InternalServerError'

    patch:
      tags: [ControlObjectives]
      operationId: updateControlObjective
      summary: Update a firm control objective
      description: |
        Partially updates a control objective's name, description, or custom test
        guidance. FirmAdmin and Partner roles may update objectives.
      parameters:
        - $ref: './common.yaml#/components/parameters/X-User-Id'
        - $ref: './common.yaml#/components/parameters/X-Firm-Id'
        - $ref: './common.yaml#/components/parameters/X-User-Role'
        - name: objectiveId
          in: path
          required: true
          description: UUID of the control objective to update.
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateControlObjectiveRequest'
      responses:
        '200':
          description: Updated control objective.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ControlObjective'
        '400':
          $ref: './common.yaml#/components/responses/BadRequest'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: './common.yaml#/components/responses/Forbidden'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
        '422':
          $ref: './common.yaml#/components/responses/UnprocessableEntity'
        '500':
          $ref: './common.yaml#/components/responses/InternalServerError'

  /api/v1/control-objectives/{objectiveId}/mappings:
    get:
      tags: [ControlObjectives]
      operationId: listControlObjectiveMappings
      summary: List framework requirement mappings for a control objective
      description: |
        Returns all framework requirement mappings for a given control objective.
        Accessible by all authenticated firm roles.
      parameters:
        - $ref: './common.yaml#/components/parameters/X-User-Id'
        - $ref: './common.yaml#/components/parameters/X-Firm-Id'
        - $ref: './common.yaml#/components/parameters/X-User-Role'
        - name: objectiveId
          in: path
          required: true
          description: UUID of the control objective.
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '200':
          description: List of framework requirement mappings.
          content:
            application/json:
              schema:
                type: object
                required: [mappings]
                properties:
                  mappings:
                    type: array
                    items:
                      $ref: '#/components/schemas/ControlObjectiveMapping'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: './common.yaml#/components/responses/Forbidden'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
        '500':
          $ref: './common.yaml#/components/responses/InternalServerError'

    post:
      tags: [ControlObjectives]
      operationId: addControlObjectiveMapping
      summary: Add a framework requirement mapping to a control objective
      description: |
        Creates a mapping between a control objective and a framework requirement.
        The combination of `firm_control_objective_id` and `framework_requirement_id`
        must be unique. FirmAdmin and Partner roles may add mappings.
      parameters:
        - $ref: './common.yaml#/components/parameters/X-User-Id'
        - $ref: './common.yaml#/components/parameters/X-Firm-Id'
        - $ref: './common.yaml#/components/parameters/X-User-Role'
        - name: objectiveId
          in: path
          required: true
          description: UUID of the control objective to add a mapping to.
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddControlObjectiveMappingRequest'
      responses:
        '201':
          description: Mapping created.
          headers:
            Location:
              description: URL of the newly created mapping.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ControlObjectiveMapping'
        '400':
          $ref: './common.yaml#/components/responses/BadRequest'
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: './common.yaml#/components/responses/Forbidden'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
        '409':
          $ref: './common.yaml#/components/responses/Conflict'
        '422':
          $ref: './common.yaml#/components/responses/UnprocessableEntity'
        '500':
          $ref: './common.yaml#/components/responses/InternalServerError'

  /api/v1/control-objectives/{objectiveId}/mappings/{mappingId}:
    delete:
      tags: [ControlObjectives]
      operationId: deleteControlObjectiveMapping
      summary: Remove a framework requirement mapping
      description: |
        Removes a single framework requirement mapping from a control objective.
        FirmAdmin and Partner roles may delete mappings.
      parameters:
        - $ref: './common.yaml#/components/parameters/X-User-Id'
        - $ref: './common.yaml#/components/parameters/X-Firm-Id'
        - $ref: './common.yaml#/components/parameters/X-User-Role'
        - name: objectiveId
          in: path
          required: true
          description: UUID of the control objective.
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
        - name: mappingId
          in: path
          required: true
          description: UUID of the mapping to remove.
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440004
      responses:
        '204':
          description: Mapping removed.
        '401':
          $ref: './common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: './common.yaml#/components/responses/Forbidden'
        '404':
          $ref: './common.yaml#/components/responses/NotFound'
        '500':
          $ref: './common.yaml#/components/responses/InternalServerError'

# =============================================================================
# Components
# =============================================================================

components:

  # ---------------------------------------------------------------------------
  # Enums
  # ---------------------------------------------------------------------------

  schemas:

    UserRole:
      type: string
      enum:
        - FirmAdmin
        - Partner
        - Manager
        - Staff
        - EQReviewer
        - ClientAdmin
        - ClientUser
        - ViewOnly
      example: Manager

    AuthMethod:
      type: string
      enum:
        - Password
        - OAuth
        - SAML
      example: Password

    NotificationFrequency:
      type: string
      enum:
        - RealTime
        - Daily
        - Weekly
      example: Daily

    InvitationStatus:
      type: string
      enum:
        - Sent
        - Accepted
        - Expired
      example: Sent

    SubscriptionTier:
      type: string
      enum:
        - Growth
        - Scale
        - Enterprise
      example: Scale

    ProcedureType:
      type: string
      enum:
        - Inquiry
        - Observation
        - InspectionOfDocument
        - Reperformance
        - Analytics
      example: InspectionOfDocument

    SsoProvider:
      type: string
      enum:
        - Google
        - Microsoft
      example: Google

    # -------------------------------------------------------------------------
    # Core domain objects
    # -------------------------------------------------------------------------

    Firm:
      type: object
      required:
        - id
        - name
        - slug
        - subscription_tier
        - country
        - timezone
        - billing_contact_email
        - settings
        - created_at
      properties:
        id:
          type: string
          format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
        name:
          type: string
          example: Apex Audit Group
        slug:
          type: string
          example: apex-audit-group
        logo_url:
          type:
            - string
            - "null"
          format: uri
          example: https://cdn.axiom.app/logos/apex-audit-group.png
        timezone:
          type: string
          example: America/New_York
        billing_contact_email:
          type: string
          format: email
          example: billing@apexaudit.com
        subscription_tier:
          $ref: '#/components/schemas/SubscriptionTier'
        country:
          type: string
          enum: [US, CA]
          example: US
        staff_count_range:
          type:
            - string
            - "null"
          example: 11-50
        primary_audit_types:
          type: array
          items:
            type: string
          example: [SOC2, ISO27001]
        settings:
          type: object
          additionalProperties: true
          description: Firm-level configuration bag stored as JSONB.
          example: {}
        created_at:
          type: string
          format: date-time
          example: "2024-01-15T09:00:00Z"

    User:
      type: object
      required:
        - id
        - firm_id
        - email
        - display_name
        - role
        - auth_method
        - notification_frequency
        - tour_completed
        - is_active
        - created_at
      properties:
        id:
          type: string
          format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
        firm_id:
          type:
            - string
            - "null"
          format: uuid
          description: Present for all firm users. Null for client users.
          example: 660e8400-e29b-41d4-a716-446655440000
        client_id:
          type:
            - string
            - "null"
          format: uuid
          description: Present for ClientAdmin/ClientUser. Null for firm users.
          example: null
        email:
          type: string
          format: email
          example: alice@apexaudit.com
        display_name:
          type: string
          example: Alice Chen
        role:
          $ref: '#/components/schemas/UserRole'
        auth_method:
          $ref: '#/components/schemas/AuthMethod'
        notification_frequency:
          $ref: '#/components/schemas/NotificationFrequency'
        tour_completed:
          type: boolean
          example: false
        is_active:
          type: boolean
          example: true
        created_at:
          type: string
          format: date-time
          example: "2024-01-15T09:00:00Z"

    Client:
      type: object
      required:
        - id
        - firm_id
        - name
        - created_at
      properties:
        id:
          type: string
          format: uuid
          example: 770e8400-e29b-41d4-a716-446655440000
        firm_id:
          type: string
          format: uuid
          example: 660e8400-e29b-41d4-a716-446655440000
        name:
          type: string
          example: Acme Corporation
        industry:
          type:
            - string
            - "null"
          example: Technology
        primary_contact_email:
          type:
            - string
            - "null"
          format: email
          example: finance@acme.com
        created_at:
          type: string
          format: date-time
          example: "2024-02-01T10:00:00Z"

    Invitation:
      type: object
      required:
        - id
        - firm_id
        - email
        - assigned_role
        - status
        - expires_at
        - invited_by_id
        - created_at
      properties:
        id:
          type: string
          format: uuid
          example: 880e8400-e29b-41d4-a716-446655440000
        firm_id:
          type: string
          format: uuid
          example: 660e8400-e29b-41d4-a716-446655440000
        email:
          type: string
          format: email
          example: bob@apexaudit.com
        assigned_role:
          $ref: '#/components/schemas/UserRole'
        status:
          $ref: '#/components/schemas/InvitationStatus'
        expires_at:
          type: string
          format: date-time
          example: "2024-02-08T09:00:00Z"
        reminder_sent_at:
          type:
            - string
            - "null"
          format: date-time
          example: null
        invited_by_id:
          type: string
          format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
        accepted_at:
          type:
            - string
            - "null"
          format: date-time
          example: null
        created_at:
          type: string
          format: date-time
          example: "2024-02-01T09:00:00Z"

    MethodologyTemplate:
      type: object
      required:
        - id
        - firm_id
        - name
        - applicable_engagement_type
        - version
        - is_active
        - is_system_provided
        - created_at
      properties:
        id:
          type: string
          format: uuid
          example: 990e8400-e29b-41d4-a716-446655440000
        firm_id:
          type: string
          format: uuid
          example: 660e8400-e29b-41d4-a716-446655440000
        name:
          type: string
          example: SOC 2 Type II — Standard
        applicable_engagement_type:
          type: string
          example: SOC2
        applicable_framework_id:
          type:
            - string
            - "null"
          format: uuid
          example: null
        version:
          type: integer
          minimum: 1
          example: 1
        is_active:
          type: boolean
          example: true
        is_system_provided:
          type: boolean
          example: false
        created_at:
          type: string
          format: date-time
          example: "2024-01-20T08:00:00Z"

    MethodologyTemplateSummary:
      description: Methodology template with aggregated counts for list views.
      allOf:
        - $ref: '#/components/schemas/MethodologyTemplate'
        - type: object
          required:
            - control_count
            - procedure_count
            - document_request_count
          properties:
            control_count:
              type: integer
              description: Number of controls in this template.
              example: 24
            procedure_count:
              type: integer
              description: Total number of test procedures across all controls.
              example: 72
            document_request_count:
              type: integer
              description: Number of document request templates.
              example: 15

    MethodologyTemplateDetail:
      description: Methodology template with fully nested controls, procedures, and document requests.
      allOf:
        - $ref: '#/components/schemas/MethodologyTemplate'
        - type: object
          required:
            - controls
            - document_requests
          properties:
            controls:
              type: array
              items:
                $ref: '#/components/schemas/TemplateControlDetail'
            document_requests:
              type: array
              items:
                $ref: '#/components/schemas/TemplateDocumentRequest'

    TemplateControl:
      type: object
      required:
        - id
        - template_id
        - description
        - is_key_control
        - sort_order
      properties:
        id:
          type: string
          format: uuid
          example: aa0e8400-e29b-41d4-a716-446655440000
        template_id:
          type: string
          format: uuid
          example: 990e8400-e29b-41d4-a716-446655440000
        firm_control_objective_id:
          type:
            - string
            - "null"
          format: uuid
          description: Optional link to a firm control objective.
          example: bb0e8400-e29b-41d4-a716-446655440000
        description:
          type: string
          example: Verify that logical access to production systems is restricted to authorized personnel.
        is_key_control:
          type: boolean
          example: true
        sort_order:
          type: integer
          example: 1

    TemplateControlDetail:
      description: Template control with nested test procedures.
      allOf:
        - $ref: '#/components/schemas/TemplateControl'
        - type: object
          required:
            - test_procedures
          properties:
            test_procedures:
              type: array
              items:
                $ref: '#/components/schemas/TemplateTestProcedure'

    TemplateTestProcedure:
      type: object
      required:
        - id
        - template_control_id
        - procedure_type
        - description
      properties:
        id:
          type: string
          format: uuid
          example: cc0e8400-e29b-41d4-a716-446655440000
        template_control_id:
          type: string
          format: uuid
          example: aa0e8400-e29b-41d4-a716-446655440000
        procedure_type:
          $ref: '#/components/schemas/ProcedureType'
        description:
          type: string
          example: Inspect the quarterly user access review report for completeness and sign-off.
        expected_result:
          type:
            - string
            - "null"
          example: Report is signed off by the IT Manager within 5 business days of quarter end.

    TemplateDocumentRequest:
      type: object
      required:
        - id
        - template_id
        - title
        - instructions_template
        - sort_order
      properties:
        id:
          type: string
          format: uuid
          example: dd0e8400-e29b-41d4-a716-446655440000
        template_id:
          type: string
          format: uuid
          example: 990e8400-e29b-41d4-a716-446655440000
        template_control_id:
          type:
            - string
            - "null"
          format: uuid
          description: Optional link to a specific template control this document request supports.
          example: null
        title:
          type: string
          example: User Access Review Report — Q{{quarter}} {{year}}
        instructions_template:
          type: string
          description: |
            Handlebars-style template string. Variables like `{{quarter}}` and `{{year}}`
            are substituted when the document request is instantiated in an engagement.
          example: Please provide the signed quarterly user access review report for Q{{quarter}} {{year}}.
        sort_order:
          type: integer
          example: 1

    ControlObjective:
      type: object
      required:
        - id
        - firm_id
        - name
        - description
        - created_at
      properties:
        id:
          type: string
          format: uuid
          example: ee0e8400-e29b-41d4-a716-446655440000
        firm_id:
          type: string
          format: uuid
          example: 660e8400-e29b-41d4-a716-446655440000
        source_library_id:
          type:
            - string
            - "null"
          format: uuid
          description: Reference to a system control library entry if this was imported.
          example: null
        name:
          type: string
          example: CC6.1 — Logical and Physical Access Controls
        description:
          type: string
          example: The entity implements logical access security software, infrastructure, and architectures over protected information assets.
        custom_test_guidance:
          type:
            - object
            - "null"
          additionalProperties: true
          description: Firm-specific testing guidance stored as JSONB.
          example: null
        created_at:
          type: string
          format: date-time
          example: "2024-01-18T08:00:00Z"

    ControlObjectiveSummary:
      description: Control objective with an aggregated mapping count for list views.
      allOf:
        - $ref: '#/components/schemas/ControlObjective'
        - type: object
          required:
            - mapping_count
          properties:
            mapping_count:
              type: integer
              description: Number of framework requirement mappings for this objective.
              example: 3

    ControlObjectiveDetail:
      description: Control objective with its full list of framework requirement mappings.
      allOf:
        - $ref: '#/components/schemas/ControlObjective'
        - type: object
          required:
            - mappings
          properties:
            mappings:
              type: array
              items:
                $ref: '#/components/schemas/ControlObjectiveMapping'

    ControlObjectiveMapping:
      type: object
      required:
        - id
        - firm_control_objective_id
        - framework_requirement_id
      properties:
        id:
          type: string
          format: uuid
          example: ff0e8400-e29b-41d4-a716-446655440000
        firm_control_objective_id:
          type: string
          format: uuid
          example: ee0e8400-e29b-41d4-a716-446655440000
        framework_requirement_id:
          type: string
          format: uuid
          example: 110e8400-e29b-41d4-a716-446655440000

    # -------------------------------------------------------------------------
    # Auth schemas
    # -------------------------------------------------------------------------

    TokenPair:
      type: object
      required:
        - access_token
        - refresh_token
        - token_type
        - expires_in
      properties:
        access_token:
          type: string
          description: Short-lived JWT for API authentication.
          example: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9...
        refresh_token:
          type: string
          description: Long-lived opaque token used to obtain a new token pair.
          example: dGhpcyBpcyBhIHJlZnJlc2ggdG9rZW4...
        token_type:
          type: string
          enum: [Bearer]
          example: Bearer
        expires_in:
          type: integer
          description: Lifetime of the access token in seconds.
          example: 900

    AuthResponse:
      type: object
      required:
        - user
        - firm
        - tokens
      properties:
        user:
          $ref: '#/components/schemas/User'
        firm:
          $ref: '#/components/schemas/Firm'
        tokens:
          $ref: '#/components/schemas/TokenPair'

    JwksResponse:
      type: object
      required:
        - keys
      properties:
        keys:
          type: array
          description: Array of JSON Web Keys (RFC 7517).
          items:
            type: object
            required:
              - kty
              - kid
              - use
              - alg
              - n
              - e
            properties:
              kty:
                type: string
                description: Key type.
                example: RSA
              kid:
                type: string
                description: Key ID.
                example: "2024-01-key-1"
              use:
                type: string
                description: Intended use of the key.
                enum: [sig]
                example: sig
              alg:
                type: string
                description: Algorithm.
                example: RS256
              n:
                type: string
                description: RSA modulus (Base64urlUInt-encoded).
                example: syfFDquvK9...
              e:
                type: string
                description: RSA exponent (Base64urlUInt-encoded).
                example: AQAB

    InvitationValidation:
      type: object
      required:
        - invitation_id
        - email
        - assigned_role
        - firm_name
        - expires_at
      properties:
        invitation_id:
          type: string
          format: uuid
          example: 880e8400-e29b-41d4-a716-446655440000
        email:
          type: string
          format: email
          example: bob@apexaudit.com
        assigned_role:
          $ref: '#/components/schemas/UserRole'
        firm_name:
          type: string
          description: Display name of the inviting firm.
          example: Apex Audit Group
        expires_at:
          type: string
          format: date-time
          example: "2024-02-08T09:00:00Z"

    # -------------------------------------------------------------------------
    # List / paginated response wrappers
    # -------------------------------------------------------------------------

    UserListResponse:
      type: object
      required:
        - users
        - pagination
      properties:
        users:
          type: array
          items:
            $ref: '#/components/schemas/User'
        pagination:
          $ref: './common.yaml#/components/schemas/Pagination'

    ClientListResponse:
      type: object
      required:
        - clients
        - pagination
      properties:
        clients:
          type: array
          items:
            $ref: '#/components/schemas/Client'
        pagination:
          $ref: './common.yaml#/components/schemas/Pagination'

    InvitationListResponse:
      type: object
      required:
        - invitations
        - pagination
      properties:
        invitations:
          type: array
          items:
            $ref: '#/components/schemas/Invitation'
        pagination:
          $ref: './common.yaml#/components/schemas/Pagination'

    MethodologyTemplateListResponse:
      type: object
      required:
        - templates
        - pagination
      properties:
        templates:
          type: array
          items:
            $ref: '#/components/schemas/MethodologyTemplateSummary'
        pagination:
          $ref: './common.yaml#/components/schemas/Pagination'

    ControlObjectiveListResponse:
      type: object
      required:
        - control_objectives
        - pagination
      properties:
        control_objectives:
          type: array
          items:
            $ref: '#/components/schemas/ControlObjectiveSummary'
        pagination:
          $ref: './common.yaml#/components/schemas/Pagination'

    # -------------------------------------------------------------------------
    # Request bodies
    # -------------------------------------------------------------------------

    RegisterFirmRequest:
      type: object
      required:
        - email
        - password
        - firm_name
        - country
      properties:
        email:
          type: string
          format: email
          example: alice@apexaudit.com
        password:
          type: string
          format: password
          minLength: 12
          description: Must be at least 12 characters.
          example: S3cur3P@ssw0rd!
        firm_name:
          type: string
          minLength: 2
          maxLength: 255
          example: Apex Audit Group
        staff_count_range:
          type: string
          description: Approximate headcount band for the firm.
          example: 11-50
        primary_audit_types:
          type: array
          items:
            type: string
          description: Types of engagements the firm primarily conducts.
          example: [SOC2, ISO27001]
        country:
          type: string
          enum: [US, CA]
          example: US

    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          example: alice@apexaudit.com
        password:
          type: string
          format: password
          example: S3cur3P@ssw0rd!

    RefreshTokenRequest:
      type: object
      required:
        - refresh_token
      properties:
        refresh_token:
          type: string
          example: dGhpcyBpcyBhIHJlZnJlc2ggdG9rZW4...

    VerifyEmailRequest:
      type: object
      required:
        - token
      properties:
        token:
          type: string
          description: Single-use email verification token from the verification email.
          example: a1b2c3d4e5f6

    SsoCallbackRequest:
      type: object
      required:
        - provider
        - authorization_code
      properties:
        provider:
          $ref: '#/components/schemas/SsoProvider'
        authorization_code:
          type: string
          description: OAuth authorization code received from the identity provider redirect.
          example: 4/0AX4XfWg...
        redirect_uri:
          type: string
          format: uri
          description: The redirect URI used in the original OAuth request. Must match the one registered with the provider.
          example: https://app.axiom.app/auth/callback

    AcceptInvitationRequest:
      type: object
      required:
        - token
        - display_name
      properties:
        token:
          type: string
          description: Raw invitation token from the magic-link URL.
          example: abc123xyz
[...]
